build/

*.exe
*.out
*.o

.vscode/
!.vscode/settings.json

CMakeFiles/

CMakeCache.txt
cmake_install.cmake
CMakeSettings.json
compile_commands.json


*.suo
*.user
*.sdf
*.opensdf

*.ipch
*.iobj
*.pdb


node_modules/

*.a
*.so
*.dll
*.dylib
*.exe.stackdump

gmon.out


*.gch


*.d


*.gcda
*.gcno
Makefile
Тестовое задание planner.pdf
tests/test_main
python_ref_scripts/dp.py
python_ref_scripts/dijkstra.py
python_ref_scripts/dijkstra_test.py
main
CMakePresets.json
