build/

*.exe
*.out
*.o

.vscode/
!.vscode/settings.json

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CMakeSettings.json
compile_commands.json


*.suo
*.user
*.sdf
*.opensdf

*.ipch
*.iobj
*.pdb


node_modules/

*.a
*.so
*.dll
*.dylib
*.exe.stackdump

gmon.out


*.gch


*.d


*.gcda
*.gcno
